<div fxLayout="column" class="detail-content">
    <span class="material-icons detail-icon">person </span>
    <span matTooltip="Name" style="font-size: 20px;font-weight: bold;">{{feed.name}}</span>
    <span matTooltip="Feed creation date" class="fs25">{{feed.timestamp | date : 'dd.MM.yyyy HH:mm' }}</span>
    <span class="detail-text fs25">{{feed.text}}</span>
    <div fxLayout="row" class="com-and-like">
        <div>
            <span class="fs25">Likes: {{feed.likes}}</span>
            <span matTooltip="Like feed" (click)="modifyLike(1)" style="color: green;"
                class="material-icons custom-icon-hover like-dislike">
                thumb_up_alt</span>
            <span matTooltip="Dislike feed" (click)="modifyLike(-1)" style="color: red;"
                class="material-icons custom-icon-hover like-dislike">
                thumb_down_alt</span>
        </div>
        <span class="fs25 posAr0">Comments: {{feed.comments.length}}</span>
    </div>
    <div style="text-align: left;overflow: auto;">
        <div *ngFor="let comment of feed.comments" class="comment-style">
            <div fxLayout="row" style="position: relative;">
                <span style="font-size: 40px;" class="material-icons">person </span>
                <span (click)="deleteComment(comment)" class="material-icons custom-icon-hover posAr0">delete </span>
                <div fxLayout="column" class="comment-margin">
                    <span matTooltip="Name">{{comment.name}}</span>
                    <span matTooltip="Comment date creation">{{comment.timestamp  | date : 'dd.MM.yyyy HH:mm' }}</span>
                    <span style="max-width: 700px;margin-top: 10px">{{comment.text}}</span>
                </div>
            </div>
        </div>
    </div>

    <span matTooltip="Create new comment" (click)="openDialog()"
        class="material-icons custom-icon-hover comment-add-button">add </span>
</div>