.detail-content{
    height: 100%;
    margin: 50px 0px 0px 100px;
    text-align: center;
    min-width: 850px;
    border: 1px solid black;
    padding: 25px 25px 0px 25px;
  
}
.detail-icon{
    font-size: 150px;
}
.fs25{
    font-size: 25px;
}
.detail-text{
    max-width: 800px;
    text-align: center;
    margin: 10px 0px 10px 0px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 10px;
}
.posAr0{
 position: absolute;
 right: 0;
}

.comment-style{
    margin-top: 10px;
    border: 1px solid silver;
    background-color: white;
    padding: 10px; 
}
.comment-add-button{
background-color:rgb(199, 251, 199) ;
border: 1px solid silver;
margin: 10px 0px 10px 0px;
}
.com-and-like{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 13px;
    border-bottom: 1px solid silver;

}

.like-dislike{
    vertical-align: bottom;
    margin-left: 10px;
    font-size: 30px;
}
.comment-margin{
    margin-left: 15px;
}