<div style="width: 300px;">
    <form fxLayout="column" [formGroup]="feedForm">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
            <mat-error *ngIf="feedForm.get('name').hasError('required')">Required field!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Text</mat-label>
            <textarea formControlName="text" style="height: 250px;" matInput></textarea>
            <mat-error *ngIf="feedForm.get('text').hasError('required')">Required field!</mat-error>
        </mat-form-field>
    </form>
    <div mat-dialog-actions>
        <button [ngClass]="{'invalid-form': !feedForm.valid, 'valid-form': feedForm.valid}" [disabled]="!feedForm.valid"
            [mat-dialog-close]="feedForm.value" mat-button
            style="width: 100%;color: white;">{{data?.canEdit == true ? 'Save edited'  : 'Create new' }}
            {{data?.buttonText}}</button>
        <button class="invalid-form" [mat-dialog-close]="null" mat-button
            style="width: 100%;color: white;">Close</button>
    </div>
</div>