<div fxLayout="row" style="height: 100%;">
  <div *ngIf="loadingFeedsData == true;else content">
    <mat-progress-spinner class="example-margin" [mode]="'indeterminate'">
    </mat-progress-spinner>
  </div>
  <div fxLayout="column" *ngIf="selectFeedOsb$ | async as selectedFeed">
    <app-detail-feed class="heigh-detail" [feed]="selectedFeed" (feedUpdated)="reloardFeed($event)"
      (feedCommentDeleted)="deletedCommentFromFeed($event)"></app-detail-feed>
  </div>

</div>
<ng-template #content>
  <div fxLayout="column" class="custom-icon-hover" style="height: 100%;">
    <span (click)="openDialog()" matTooltip="Create new feed"
      class="material-icons custom-icon-hover add-feed-button">add </span>
    <cdk-virtual-scroll-viewport class="scroller" itemSize="10">
      <ng-container *cdkVirtualFor="let feed of feedsData">
        <div class="feed-card" fxLayout="row" (click)="selectFeed(feed)">
          <div fxLayout="column">
            <span class="material-icons" style="font-size: 50px;">person </span>
          </div>
          <div fxLayout="column" style="padding-left: 15px;width: 100%;">
            <div fxLayout="row">
              <span matTooltip="Name" style="font-weight: bold;" class="one-line">{{feed.name}}</span>
              <div fxLayout="row" style="position: absolute;right: 0;">
                <span matTooltip="Edit feed" (click)="editFeed(feed);$event.stopPropagation()"
                  class="material-icons custom-icon-hover">assignment </span>
                <span matTooltip="Delete feed" (click)="deleteFeed(feed);$event.stopPropagation()"
                  class="material-icons custom-icon-hover">delete </span>
              </div>
            </div>
            <span class="feed-card-time"
              matTooltip="Creation time of feed">{{feed.timestamp | date : 'dd.MM.yyyy HH:mm'}}</span>
            <span class="display-text">{{feed.text}}</span>
          </div>
        </div>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </div>
</ng-template>