.scroller{
  height: 100%;
  width: 400px;
}


.display-text{
  
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-top: 2px;
  padding-top: 5px;
}

.one-line{
  max-width   : 210px;
  text-overflow: ellipsis;
 overflow     : hidden;
 white-space: nowrap;
}
.heigh-detail{
  height: calc(100vh - 50px);
}

.add-feed-button{
  margin: 15px 0px 0px 15px;
  width: fit-content;
}
.feed-card{
  padding: 15px;
  position: relative;
  margin: 10px;
  border: 2px solid silver;
  background-color: white;
}
.feed-card-time{
  padding-top: 5 0 5px 0;
  border-bottom: 1px solid silver;
}